.hidden {
  display: none;
}
.search {
  top: 1em;
  z-index: 1;
  position: sticky;
  max-width: 50em;
  margin-inline: auto;
}

.searchBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.25em;
  width: 100%;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  height: 1.5em;
  z-index: inherit;
  margin-bottom: 1em;
}

.searchBox input {
  z-index: 2;
  width: 90%;
  background: transparent;
  border-color: transparent;
}

.searchBox input:focus,
.searchBox input:focus-visible {
  outline: none;
}

.results {
  position: absolute;
  width: 100%;
  border-radius: 0.5em;
  box-sizing: border-box;
  z-index: inherit;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0.5em;
  max-height: 20em;
  overflow-y: scroll;
  scrollbar-width: none;
}

.track {
  display: flex;
  justify-items: center;
  align-items: center;
  /* border-bottom: 1px solid #e0e0e0; */
}

.track img {
  width: 5em;
  height: 5em;
  margin: 0.25em;
}

.track h3 {
  font-size: large;
  /* margin: 0.5em; */
}

.track p {
  font-size: small;
  /* margin: 0.5em; */
}
